.ipm_brand{
  background-color: #e06666;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.ipm_title{
  font-size: 26px;
  text-align: center;
}

.ipm_monthYear{
  font-size: 20px;
  text-align: center;
}

.end {
  text-align: end;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
